.filters{
    @extend %flex;
    
    gap: 8px;
    
    margin-bottom: 50px;
}
.button__filter {
    background-color: getColor("button-bg");
    color:getColor("title");
    @include texts(16px, 500, normal, 1.7 );
text-align: center;
font-family: "Roboto";
letter-spacing: 0.48px;
padding: 6px 22px;
border-radius: 4px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);


animation-name: juup;
animation-duration: 1s;
animation-timing-function: ease;
animation-iteration-count: infinite;
animation-fill-mode: both;
animation: jump 5.5s ease infinite alternate;

&:hover {
 background-color: getColor("portfolio-blue");
 animation: juup 1s ease infinite;
 color: getColor("button-bg");
 box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);


}
}
@keyframes juup{
 
   0%{
    transform: translate(0);
   }
   100%{
    transform: translateY(-30px);
   }
}
.our-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}
.our-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 27px;
    justify-content: center;
    
    .our-portfolio-list__item {
    
        border: 1px solid #EEE;
        flex-basis: calc((100% - 10px)/4);
        padding-bottom: 20px;
        border: 1px solid #EEE;
    background: #FFF;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover{
        
        box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    }
    }
    
    .our-portfolio-list__item:hover .our-portfolio-overlay{
        transform:  translateY(0);
        
    }
    &__thumb{
        position: relative;
        width: 370px;
        height: 294px;
        overflow: hidden;
    }
    
&__img {
        gap: 30px;
    }
&__title {
    @include texts(18px, 700, normal, 2 );
    color:getColor("title");
letter-spacing: 1.08px;
margin-top: 20px;
margin-bottom: 4px;
padding-left: 24px;
}
&__description {
    color:getColor("text");
    @include texts(16px, 400, normal, 1.9 );


padding-left: 24px;
letter-spacing: 0.48px;
}
}

.our-portfolio-overlay {
    display: block;
position: absolute;
left: 0;
top: 0;
width:  100%;
height: 100%;
transition: N;
background-color: rgba(33, 150, 243, 0.9);
transform: translateY(100%);
transition: transform 0.5s ease;

&__text {
    @include texts(18px, 400, normal, 1.56 );

    letter-spacing: 0.03em;
    color: #fff;
    padding: 60px 48px;
    height: 294px;
}
}

