body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: getColor("title");

}

img, button {
display: block;
}

.container { 
    min-width: 320px;
    max-width: 767px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    @media (min-width: 768px) {
        max-width: 768px;
    }
    @media (min-width: 1200px) {
        max-width: 1200px;
    }
}