:root {
    --web-studio-black: #2F303A;
    --web-studio-blue: #2196F3;
    --web-studio-white: #fff;
--title:#212121;
--text: #757575;
--footer:rgba(255, 255, 255, 0.60) ;
--black:#000;
--team: #F5F4FA;
--svg:#AFB1B8;
--portfolio-black: #2F303A;
--portfolio-blue: #2196F3;
--portfolio-white: #fff;
--button-bg: #F5F4FA;

--border: #EEE;
}