// .clients{
//     padding-top: 58px;
//     padding-bottom: 58px;
//     @media (min-width: 1200px) {
//         padding-bottom: 88px;
//     }
   


// &__title{
//     color: getColor("title");
// text-align: center;
// font-family: getFont($fonts);
// font-size: 36px;
// font-weight: 700;
// letter-spacing: 1.08px;
// margin-bottom: 49px;
// padding-top: 89px;
// }
// }
// .clients-list{
//     @extend %flex;
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     align-items: flex-start;
//     gap: 30px;
    

// &__item{
 
//         // flex: 1 1 100%;
//         // @media (min-width: 768px) {
//         //   flex: 1 1 calc((100% - 120px) / 4);
//         // }
//         // @media (min-width: 1200px) {
//         //   flex: 1 1 calc((100% - 20px) / 4);
//         // }
//     width: 1oopx;
//     border: 1px solid getColor("svg");
//     padding: 15px 30px;
//     border-radius: 7px;
//     transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     @media (min-width: 768px) {
//       flex-basis: calc((100% - 60px) / 3);
//     }

//     @media (min-width: 1024px) {
//       flex-basis: calc((100% - 150px) / 6);
//       padding: 17px 30px;
   
// &:hover{
//     border-color:getColor("studio-blue");
// }
// }
// &:hover &__svg{
//          transition:fill   250ms cubic-bezier(0.4, 0, 0.2, 1); 
//       fill: getColor("studio-blue");
// }

// &__link{
//     fill: getColor("black");
//     display: flex;
    
// }

// &__svg{
//     fill: getColor("svg");
//     width: 106px;
//     height: 60px;

// }
// }
.clients{
    padding-bottom: 88px;
  

&__title{
    color: getColor("title");
text-align: center;
font-family: getFont($fonts);
font-size: 36px;
font-weight: 700;
letter-spacing: 1.08px;
margin-bottom: 49px;
padding-top: 89px;
}
}
.clients-list{
    @extend %flex;
    
    gap: 30px;
    

&__item{
    width: 170px;
    border: 1px solid getColor("svg");
    padding: 15px 30px;
    border-radius: 7px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    

&:hover{
    border-color:getColor("studio-blue");
}
}
&__item:hover &__svg{
         transition:fill   250ms cubic-bezier(0.4, 0, 0.2, 1); 
      fill: getColor("studio-blue");
}

&__link{
    fill: getColor("black");
    display: flex;
    
}

&__svg{
    fill: getColor("svg");
    width: 106px;
    height: 60px;

}
}
@media (min-width: 320px)  {
    .clients-list{
        display: flex;
        flex-wrap: wrap;
    }
    .clients-list__item{
        width: 110px;
        height: 94px;
        flex: 1 1 30%;
    }
}

@media (min-width: 768px)  {
    .clients-list{
        
        flex-wrap: wrap;
    }
    .clients-list__item{
        
        flex: 1 1 calc((100% - 60px)/3);
    }
}
@media (min-width: 1200px){
    .clients-list{
        flex-wrap:nowrap ;
    }
}