.features {
    padding-top: 94px;
    padding-bottom: 94px;
}
.features-list {
 
    display: flex;
    
    gap: 30px;

.features-list__item::before {
    content: "";
    display: inline-block;
    width: 270px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: getColor("team");
    border-radius: 4px;
    /* margin-bottom: 3opx; */
}
&__item:nth-child(1)::before{
        background-image: url(../images/antenna1.svg);
    }
    &__item:nth-child(2)::before{
        background-image: url(../images/clock1.svg);
    }
    &__item:nth-child(3)::before{
        background-image: url(../images/diagram1.svg);
    }
    &__item:nth-child(4)::before{
        background-image: url(../images/astronaut1.svg);
    }
    




&__title {
    
    color: getColor("title");
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 10px;
margin-top: 30px;

}
&__description {
    
    color: getColor("text");;

    line-height: 2;
    letter-spacing: 0.42px;
}
}

// @media (max-width: 1220px) {
//  .features{
//     padding: 94px 0;
//  }
//     .features-list{
//         gap: 20px;
//         flex-direction: row;
//     &__item{
        
//         flex: 1 1 calc((100% - 30px)/4);
        
//     }
// }
// }
@media (max-width: 1220px) {
    .features-list {
      flex-wrap: wrap; 
      gap: 30px; 
      
    }
  
    .features-list__item {
      flex: 1 1 70%; 
    }
    .features-list__description{
        width: 270px;
    }
  }
  