.footer {
    background-color:  #2F303A;
    padding-top: 64px;
    padding-bottom: 67px;
    
}

.footer .container{
    display: flex;
    
}

.footer-contacts__logo {

    
    color: getColor("studio-blue");


}
.footer-contacts__logo--studio{
    color: getColor("studio-white");
    
}
.footer-join{
    display: block;
    margin-right: 92px;
}
.address {
    display: flex;
    flex-direction: column;
    gap: 9px;
    font-style: normal;

&__link {
    padding-top: 20px;
    color: #FFF;
line-height: 1.7; 
letter-spacing: 0.42px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

width: 211px;
}
&:hover {
    color: rgba(255, 255, 255, 0.60);
    }
}
.footer-contacts{
    margin-right: 95px;
    
}

.footer__contact {
    color: rgba(255, 255, 255, 0.60);
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.42px;
}
