.footer {
    background-color:  getColor("studio-black");
    padding-top: 64px;
    padding-bottom: 67px;
    
}

.footer .container{
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
   @media(min-width:1200px){
    flex-direction: row;
    text-align: left;
    align-items: flex-start;
    justify-content: space-between;
 
}

.footer-contacts__logo {

    text-align: center;
     @media(min-width:1200px){
        text-align: left;
    }
    color: getColor("studio-blue");


}
.footer-contacts__logo--studio{
    color: getColor("studio-white");
    
}

.address {
    
    display: flex;
    flex-direction: column;
    gap: 9px;
    font-style: normal;
   
&__link {
    padding-top: 20px;
    color: getColor("studio-white");
line-height: 1.7; 
letter-spacing: 0.42px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
white-space: nowrap;
&:hover {
    color: rgba(255, 255, 255, 0.60);
    }
}

}
.footer-contacts{
  
    margin-bottom: 50px;
     @media(min-width:1200px){
        margin-right: 95px;
    }
    
}

.footer__contact {
    color: rgba(255, 255, 255, 0.60);
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.42px;
}
}