.header {
    padding-top: 10px;
    padding-bottom: 10px;
    
    @media(min-width:768px){
        padding: 21px 0;
    }
    @media(min-width:1200px){
        padding: 26px 0;
    }
}
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
.header-spacer{
    display: flex;
    justify-content: space-between;

    align-items: center;
    @media (min-width: 768px) {
        gap: 86px;
      }
      @media (min-width: 1200px) {
        align-items: center;
        gap: 92px;
       }
    &__logo{
      
        
        
        &--studio {
            color:getColor("studio-black");
        }
        }
      
}
   
.logo{
font-family: getFont("font-raleway");

    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.78px;
    color: getColor("studio-blue");
    @media (min-width: 1200px) {
        font-size: 26px;
       }
    
}

    
        
    .navigation, .header-contacts-list{
display: none;
@media (min-width:768px){
        display: block;
}
    }
   
.navigation-list {

@media (min-width:768px){
    display: flex;

  
    gap: 50px;
    justify-content: space-between;
}
 &__link {
    @media (min-width:768px){
        display: block;
        color:  getColor("title");
        font-weight: 500;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover {
            color: getColor("studio-blue");
        
           
           
        }
        
        &::after{
            content: "";
            position: absolute;
            top: 42px;
            left:0;
            border-bottom: 6px solid getColor("studio-blue");
            border-radius: 4px;
            height: 2px;
            width: 0;
            transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
            
            
        }
    }
   
 
 
 }
 .navigation-list__link:hover::after{
  width: 100%;
  
 }
}





.header-contacts-list{

    @media (min-width:768px){
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }
    @media (min-width:1200px){
        flex-direction: row;
        align-items: center;
        gap: 27px;
    }
    
    

// &__item{
// }
&__link{
    @media (min-width:1000px){

    
        font-weight: 500;
       display: flex;
       gap: 10px;
       align-items: center;
       color: getColor("text");
       font-size: 14px;
        }
    @media (min-width:1200px){

    
    font-weight: 500;
   display: flex;
   gap: 10px;
   align-items: center;
   color: getColor("text");
   font-size: 14px;
    }
   
   &:hover{
       color: getColor("studio-blue");
   }
   }
&__svg{
    @media(min-width:1200px){
    fill: getColor("text");
   
    width: 16px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    @media(min-width: 768px){
        width: 14px;
        height: 10px;
    }
    
}

&__link:hover &__svg{
    fill: getColor("studio-blue");
}
}


