.work {
    @extend %flex;
  
    padding-bottom: 94px;
    

&__title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
}
}
.work-list {
    display: flex;
    gap: 30px;
}

.work-list__image {
    width: 370px;
    height: 294px;
    
    
    
    
   
}
.work-list__thumb{
    position: relative;
}
.work-list__label{
    background-color: rgba(47, 48, 58, 0.8);;
    height: 49px;
    color: getColor("team");
    position: absolute;
    bottom: 0;
    width: 100%;
    @extend %flex;
    padding: 29px;
    text-transform: uppercase;

}