.work {
    display: flex;
    justify-content: center;
    padding-bottom: 94px;
    
}
.work-list {
    display: flex;
    gap: 30px;
}
.work__title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
}
.work-list__image {
    width: 370px;
    height: 294px;
    
    
    
    
   
}
.thumb{
    position: relative;
}
.work-list__label{
    background-color: rgba(47, 48, 58, 0.8);;
    height: 49px;
    color: #F5F4FA;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 29px;
    text-transform: uppercase;

}